LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US

1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE IMPURE
FILEVERSION 2, 0, 0, 1436
PRODUCTVERSION 2, 0, 0, 1436
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "CompanyName", "Season's Fall Music\000"
      VALUE "FileDescription", "Integrated Testing Helper for Embarcadero RAD Studio\000"
      VALUE "FileVersion", "2.0.0.1436\000"
      VALUE "InternalName", "ITHelper\000"
      VALUE "LegalCopyright", "Season's Fall Music\000"
      VALUE "LegalTrademarks", "Season's Fall Music\000"
      VALUE "OriginalFilename", "ITHelper\000"
      VALUE "ProductName", "ITHelper\000"
      VALUE "ProductVersion", "2.0\000"
      VALUE "Comments", "ITHelper: A RAD Studio IDE adding for automating pre and post compilation processing.\000"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 1033, 1252
  }
}
